.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    background-color: rgb(89, 89, 165);
    margin-bottom: 30px;
    gap: 50px;
    
}


  
