.container {
            display: flex;
            flex-direction: column;
            padding: 50px;
            align-items: start;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
                gap: 30px;
                }
            